#send_table{
    height: 400px;
    width: 100%;
}

#td_friend_list{
    vertical-align: top;
    width: 15%;
    height: 390px;
    box-shadow: 0px 0px 4px 0px white;
}

#td_send_list{
    vertical-align: top;
    width: 15%;
    height: 390px;
    box-shadow: 0px 0px 4px 0px white;
}

#td_message{
    vertical-align: top;
    width: 45%;
    height: 390px;
    box-shadow: 0px 0px 4px 0px white;
    padding: 10px;
}

#td_message_end{
    vertical-align: top;
    width: 25%;
    height: 390px;
    box-shadow: 0px 0px 4px 0px white;
    padding: 10px;
}


#div_friend_list{
        border-radius: 5px;
    height: 390px;
    box-shadow: 0px 0px 4px 0px white;
    overflow-y:  scroll;
}

#div_send_list{
        border-radius: 5px;
    height: 390px;
    box-shadow: 0px 0px 4px 0px white;
    overflow-y:  scroll;
}

.button_send{
    width: 94%;
}

/* FRIEND LIST */

.friend_mess{
    text-align: center;
    margin-left: 2%;
    width: 95%;
    border-radius: 5px;
    margin-top: 2px;
    border: solid 1px white;
    cursor: pointer;
    height: 35px;
	background-color: rgba(102,149,178,0.60);
	color: white;
}

.friend_mess:hover{
    box-shadow: 0px 0px 4px 2px white;
}


/* MESSAGE ZONE */


#title_text {
    margin-left: 2%;
    width: 89%;
        border-radius: 5px;
}

#text_text {
    margin-bottom: 20px;
    margin-top: 5px;
    width: 100%;
    resize:none;
    border-radius: 5px;
}

#img_preview {
	width: 90%;
	height: 170px;
	border-radius: 5px;
	margin-top: 5px;
	border: 1px solid #FFF;
}


#time{
	width: 100%;
	text-align: center;
	font-size: 18px;
	color: white;
	background-color: rgba(100,151,183,1);
	border: none;
	border-radius: 5px;
	margin-left: 5px;
}


#button_send{
    width: 100%;
    margin-top: 15px;
    margin-bottom: 20px;
    height: 13%;
    font-size: 25px;
        border-radius: 5px;
}

#feedback {
overflow-y: scroll;
width: 100%;
border: 1px solid #FFF;
height: 83px;
border-radius: 5px;
}