.control{
	 width: 20%;
	 color:#296e73;
         border:none !important;
}

.control :hover{
	color:#35aea5;
}
.contSlide {
	overflow:hidden;
  text-align:center;
  height:100%;
  width:800px;
  margin:0 auto;
}

#slides {
         border:none;
	text-align:center;
	height:100%;
	width:3200px;
	-webkit-transition:all 1.0s ease-in-out;
	-moz-transition:all 1.0s ease-in-out;
	-o-transition:all 1.0s ease-in-out;
	transition:all 1.0s ease-in-out;
}
 
 
#slides tr {
         border:none;
}

.slide {
border: none !important;
	width:800px;
	height:100%;
	text-align: center;
}

.slide h3 {
	padding-left: 50px;
}

.slide img {
	width:300px;
}

#right_arrow{
	text-align: right;
}

#prev {
	display: none;
}


.left_image{
	width: 121px !important;
	margin-top: -145px;
	cursor:pointer;
	transition:all 1.0s ease-in-out;
}

.right_image{
	width: 121px !important;
	margin-top: -145px;
	margin-left: 55px;
	cursor:pointer;
	transition:all 1.0s ease-in-out;
}

.top_image{
	width: 300px !important;
	cursor:pointer;
	transition:all 1.0s ease-in-out;
}

.back_image{
	width: 300px !important;
	margin-top: -145px;
	margin-left: -298px;
	cursor:pointer;
	transition:all 1.0s ease-in-out;
}

#h1{
	transition:all 1.0s ease-in-out;	
	padding-left: 0px !important;
}

#h2{
	margin-top:65px;
	transition:all 1.0s ease-in-out;	
	padding-left: 0px !important;
}

.div_mess{
	height:300px;
}